.main{
    display: flex;
    flex-direction: column;
}
.container1{
    display: flex;
    flex-direction: row;
    margin: 50px;
    width: 100%;
    height: 100px;
    background-color: green;
    text-align: left;
    color: aliceblue;
    background-image: linear-gradient(to right, green, darkred);
    
}
.container2{
    display: flex;
    flex-direction: row;
    margin: 50px;
    width: 100%;
    height: 100px;
    background-color: green;
    text-align: center;
    color: aliceblue;
    background-image: linear-gradient(to left, green, darkred);
}
.flex-item1{
    flex: 1;
    background: rgba(100, 0, 0, 1);
}
.flex-item2{
    flex: 2;
    background: rgba(100, 20, 0, 1);
}
.flex-item3{
    flex: 3;
    background: rgba(100, 40, 0, 1);
}
.flex-item4{
    flex: 4;
    background: rgba(100, 60, 0, 1);
}
.flex-item5{
    flex: 5;
    background: rgba(100, 80, 0, 1);
}
.flex-item6{
    flex: 6;
    background: rgba(100, 100, 0, 1); 
}
.flex-item7{
    flex: 7;
    background: rgba(100, 120, 0, 1);  
}
.flex-item8{
    flex: 8;
    background: rgba(100, 140, 0, 1);
}
.flex-item9{
    flex: 9;
    background: rgba(100, 160, 0, 1);
}
.flex-item10{
    flex: 10;
    background: rgba(100, 180, 0, 1); 
}

.flex-itema{
    flex: 10;
    background: rgba(100, 180, 0, 1); 
}
.flex-itemb{
    flex: 9;
    background: rgba(100, 160, 0, 1); 
}
.flex-itemc{
    flex: 8;
    background: rgba(100, 140, 0, 1); 
   
}
.flex-itemd{
    flex: 7;
    background: rgba(100, 120, 0, 1); 
    
}
.flex-iteme{
    flex: 6;
    background: rgba(100, 100, 0, 1); 
}
.flex-itemf{
    flex: 5;
    background: rgba(100, 80, 0, 1);   
}
.flex-itemg{
    flex: 4;
    background: rgba(100, 60, 0, 1);   
}
.flex-itemh{
    flex: 3;
    background: rgba(100, 40, 0, 1);  
}
.flex-itemi{
    flex: 2;
    background: rgba(100, 20, 0, 1);  
}
.flex-itemj{
    flex: 1;
    background: rgba(100, 0, 0, 1); 
}

  
  